.checkout-cards-container{
    background-color: white;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 96px;
    font-size: .875rem;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.checkout-card-box-img{
    width: 40%;
}

.checkout-card-box{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;   
}

.checkout-card-box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.checkout-cards-remove-order{
    position: absolute;
    top: 0;
    right: 0;
}


        @media (max-width: 500px){
            .checkout-cards-container{
                font-size: 12px;
            }
            .checkout-cards-container .counter{
                margin: 10px 0;
                width: 60px;
            }
        }