.register-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container h1{
    margin-bottom: 8px;
    text-align: center;
}

.sub-title-register{
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.sub-title-register::after{
    display: block;
    content: '';
    margin: 3px auto;
    height: 3px;
    width: 60px;
    background-color: var(--custom_red);
}

.register-container form{
    width: 400px;
    padding: 50px 20px;
    border-radius: 3px;
    background-color: white;
}

.register-input-container{
    margin-bottom: 10px;
}

.register-title{
    margin-bottom: 40px;
    text-align: center;
}

.register-input-container input{
    border: none;
    height: 40px;
    width: 100%;
    margin: 5px 0;
    padding: 0 5px;
    outline: none;
}

.register-input-container i{
    font-size: 18px;
}

.register-container button{
    margin-top: 18px;
}

        @media(max-width: 450px){
            .register-container{
                padding: 0 5%;
            }
        }