.select-container{
    width: 100%;
}

.select{
    height: 40px;
    width: 100%;
    margin-top: 5px;
    background-color: white;
    border: none;
    color: black;
}   

.select option{
    color: black;
}