.categories-header{
    padding: 8px 3%;
    border: 1px var(--custom_gray);
    border-style: solid none;
    background-color: white;
    margin-bottom: 20px;
}

.categories-nav{
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories-nav-ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.categories-nav li{
    list-style: none;
    margin: 5px 30px 5px 0;
    height: 22px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.categories-nav li:hover{
    border-bottom: 2px solid var(--custom_red);
}

.categories-active{
    border-bottom: 2px solid var(--custom_red);
}


        @media (max-width: 1030px){
            .categories-nav{
                flex-direction: column;
            }
        }

        @media (max-width: 668px) {
            .categories-header{
                text-align: center;
            }

            .categories-nav-ul{
                justify-content: center;
            }

            .categories-nav li{
                margin: 5px 30px 5px 0;
            }
        }

        @media (max-width: 400px){
            .categories-nav .search-bar-container{
                width: 100%;
            }
        }