.Success-header{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.Success-header button{
    margin: 0 10px 0;
}

.Success-rectangle{
    border: 3px solid white;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.Success-rectangle img{
    width: 436px;
    height: 192px;
    margin-bottom: 30px;
}


        @media screen and (max-width: 620px){
            .Success-rectangle{
                width: 90%;
                font-size: 16px;
            }

            .Success-rectangle img{
                width: 275px;
                height: 121px;
                margin-bottom: 30px;
            }

            .Success-rectangle h3{
                text-align: center;
                padding: 0 20px;
            }
        }