.success-page{
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-rectangle{
    width: 600px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 3px;
}

.success-rectangle img{
    width: 436px;
    height: 192px;
    margin-bottom: 30px;
}

.success-btn-container{
    /* background-color: red; */
    width: 280px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    height: 30px;
}

.success-btn{
    width: 120px;
    color: white;
    font-size: 0.9rem;
    background-color: red;
    transition: .3s ease-in-out;
    border-radius: 2px;
}

.success-btn:hover{
    transform: scale(1.03);
}


        @media screen and (max-width: 620px){
            .success-rectangle{
                width: 90%;
                font-size: 16px;
            }

            .success-rectangle img{
                width: 275px;
                height: 121px;
                margin-bottom: 30px;
            }

            .success-rectangle h3{
                text-align: center;
                padding: 0 20px;
            }
        }