.login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
}

.login-container h1{
    margin-bottom: 8px;
    text-align: center;
}

.sub-title-login{
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.sub-title-login::after{
    display: block;
    content: '';
    margin: 3px auto;
    height: 3px;
    width: 40px;
    background-color: var(--custom_red);
}

.login-container form{
    width: 400px;
    padding: 50px 20px;
    border-radius: 3px;
    background-color: white;
}

.login-link-container{ 
    text-align: center;
}

.register-link{
    font-size: .875rem;
    color: black;
}

.register-link:hover{
    text-decoration: underline;
}

.login-container button{
    margin-top: 20px;
}

        @media(max-width: 450px){
            .login-container{
                padding: 0 5%;
            }
        }