.login-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container form{
    width: 400px;
    padding: 50px 20px;
    border: 1px solid #C4C4C4;
}

.login-title{
    margin-bottom: 40px;
    text-align: center;
}

/* .login-input-container{
    margin-bottom: 10px;
} */

/* .login-input-container input{
    border: none;
    background-color: #ECECEC;
    height: 40px;
    width: 100%;
    margin: 5px 0;
    padding: 0 5px;
    outline: none;
} */

/* .login-input-container i{
    font-size: 18px;
} */

.login-link-container{ 
    text-align: center;
}

.register-link{
    font-size: .875rem;
    color: black;
}

.register-link:hover{
    text-decoration: underline;
}

.login-btn-container{
    text-align: center;
    margin-top: 20px;
}

/* .login-btn{
    padding: 10px 0;
    width: 180px;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    background-color: #d8d7d7;
}

.login-btn:hover{
    background-color: #c4c4c4;
} */