.card-container{
    width: 100%;
    height: 375px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    background-color: white;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 1px -1px 4px rgba(0, 0, 0, 0.25), -3px 3px 4px rgba(0, 0, 0, 0.25);
}

.card-img{
    width: 100%;
    height: 188px;
    overflow: hidden;
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease-in-out;
}

.card-img img:hover{
    transform: scale(1.1);
}

.card-body{
    margin: 10px;
}

.name{
    text-align: center;
    margin: 3px 0;
    text-transform: capitalize;
}

.description-box::after{
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    margin: 3px 0;
    background-color: #D8DBE4;
}

.description{
    font-size: .875rem;
    height: 34px;
}

.card-flex-box{
    display: flex;
    justify-content: space-between;
}

.card-box p{
    font-size: .875rem;
}

.card-body .price{
    font-weight: bold;
}

.btn{
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.order-btn{
    width: 100%;
    padding: 8px 0;
    font-size: 1rem;
    background-color: var(--custom_red);
    color: white;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    border-radius: 2px;
}

.order-btn:hover{
    transform: scale(1.02);
}

.edit-btn-container{
    display: flex;
    justify-content: space-between;
}

.edit-btn-container button{
    width: 45%;
}

.delete-btn{
    background-color: red;
    color: white;
    padding: 5px 0;
}

.edit-btn{
    background-color: #121212;
    color: white;
    padding: 5px 0;
}
