.form-container{
    width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.form-container button{
    margin-top: 20px;
}

        @media screen and (max-width: 380px){
            .form-container{
                width: 280px;
            }
        }
