.checkout-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.checkout-box-1{
    width: 430px;
}

.checkout-orders-container{
    width: 100%;
    height: 330px;
    overflow-y: auto;
}
