.rect-bg{
    height: 100%;
    width: 430px;
    background-color: #EBEBEB;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
}


        @media (max-width: 668px){
            .rect-bg{
                width: 100%;
            }
        }