.search-bar-container{
    width: 350px;
    height: 45px;
    border: 1px solid var(--custom_gray);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.search-input, .search-btn{
    height: 100%;
}

.search-input{
    width: 85%;
    border: none;
    outline: none;
    padding-left: 10px;
}

.search-btn{
    width: 15%;
    background-color: transparent;
}

.search-btn i{
    font-size: 20px;
    color: var(--custom_red);
}


        @media (max-width: 668px){
            .search-bar-container{
                margin: auto;
            }
        }