.header{
    padding: 0 30px;
    background-color: none;
    display: grid;
    grid-template-columns: 180px auto 30px;
    align-items: center;
    height: 10vh;
}

.header h1{
    text-align: left;
}

.header .cart-icon{
    font-size: 1.375rem;
}

.header-navlinks{
    display: flex;
    justify-content: end;
}

.navLinks{
    display: flex;
    justify-content: end;
    list-style: none;
    width: 100%;
    height: 30px;
}

.link-btn{
    padding: 5px 0 2px 0;
    margin-right: 40px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.link-btn:hover{
    border-bottom: 2px solid var(--custom_red);
}

.cart-icon-box{
    display: flex;
    justify-content: end;
}

.cart-icon{
    position: relative;
    width: 30px;
}

.counter-circle{
    text-align: center;
    line-height: 15px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    color: white;
    background-color: var(--custom_red);
    font-size: .625rem;
    font-weight: bold;
    position: absolute;
    top: -7px;
    right: -3px;
}

        @media(max-width: 580px){
            .header{
                height: fit-content;
                padding: 20px 30px;
                grid-template: 1fr 1fr / 2fr 1fr;
            }

            .header h1{
                grid-area: 1 / 1 / 1 / 1;
            }

            .cart-icon-box{
                grid-area: 1 / 2 / 2 / 3;
            }

            .header-navlinks{
                grid-area: 2 / 1 / 2 / 3;
            }

            .navLinks{
                justify-content: space-between;
                margin-top: 10px;
            }

            .link-btn{
                margin: 0;
            }
        }

