.counter{
    overflow: hidden;
    border-radius: 2px;
    width: 70px;
    height: 25px;
    display: flex;
}

.counter-btn, .counter-display{
    width: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-btn{
    background: var(--custom_gray);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

