.card-container{
    max-width: 280px;
    margin-bottom: 40px;
    padding: 15px;
    background-color: white;
}

.card-container img{
    width: 248px;
    height: 165px;
    margin: 10px 0;
}

.name, .price{
    text-align: center;
}

.description{
    margin: 10px 0;
    font-size: .875rem;
    text-align: center;
}

.btn{
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.order-btn{
    width: 100%;
    padding: 5px 0;
    font-size: 1.125rem;
    background-color: #ECECEC;
}

.order-btn:hover{
    background-color: #bebebe;
}

.edit-btn-container{
    display: flex;
    justify-content: space-between;
}

.edit-btn-container button{
    width: 45%;
}

.delete-btn{
    background-color: red;
    color: white;
    padding: 5px 0;
}

.edit-btn{
    background-color: #121212;
    color: white;
    padding: 5px 0;
}
