.order-box{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.order-box img{
    width: 160px;
    height: 120px;
}

.order-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: .875rem;
}

.remove-order{
    font-size: 1rem;
}
