header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 20px;
    background-color: #BEBEBE;
    color: black;
}

header i{
    font-size: 1.375rem;
}

.navLinks{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 40%;
}

.link-btn{
    padding: 5px;
    width: 80px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    background-color: #C4C4C4;
}

.cart-icon-box{
    position: relative;
}

.counter-circle{
    text-align: center;
    line-height: 15px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    color: white;
    background-color: red;
    font-size: .625rem;
    font-weight: bold;
    position: absolute;
    top: -10px;
    right: -8px;
}