header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 20px;
    background-color: #C4C4C4;
}

i{
    font-size: 1.375rem;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 200px;
}

li{
    padding: 5px;
    background-color: #a1a0a0;
    cursor: pointer;
}
