.order-container{
    width: 200px;
    margin: 20px;
}

.order-container img{
    width: 200px;
}

.cart-container i{
    font-size: 1rem;
    margin-left: 95%;
}

.bar{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

span{
    font-weight: bold;
}

.counter button{
    width: 20px;
    border: none;
    border-radius: 3px;
    background-color: #c4c4c4;
}

.counter span{
    padding: 0 3px;
}