.rect-btn{
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    background-color: #36FD15;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    transition: .4s ease-in-out;
}

.rect-btn:hover{
    transform: scale(1.02);
}