.cart-container{
    margin: 40px;
    display: flex;
    flex-direction: column;
}

.wrapper-orders{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 400px;
    margin: 20px 0;
}

.price-box{
    width: 250px;
    margin: auto;
}

.price-box button{
    width: 100%;
    font-size: 1.25rem;
    padding: 5px 0;
    margin-top: 5px;
}

.total{
    display: flex;
    justify-content: space-between;
}

